
<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}} </span></div>
   <div>Space Debris: <span>{{satelliteTypeCount('Space Debris')}}</span></div>
   <div>Communication: <span>{{satelliteTypeCount('Communication')}}</span></div>
   <div>Probe: <span>{{satelliteTypeCount('Probe')}}</span></div>
   <div>Positioning: <span>{{satelliteTypeCount('Positioning')}}</span></div>
   <div>Space Station: <span>{{satelliteTypeCount('Space Station')}}</span></div>
   <div>Telescope: <span>{{satelliteTypeCount('Telescope')}}</span></div>
</div>